.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  margin-left: 0.3rem;
  margin-right: 0.5rem;
  width: 8rem;
  max-height: 2.5rem;
  background-color: white;
  border-width: 2px;
  border-radius: 0.375rem;
}

.button:hover {
  scale: 1.05;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(254 226 226);
  padding: 0.75rem;
  width: 24rem;
  border-radius: 0.8rem;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
}

@media screen and (min-width: 600px) {
  .card {
    width: 40rem;
  }
}

.input-box {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  margin-bottom: 5px;
  font-size: 1rem;
  padding: 0 1rem;
}
